body{
    width: 100%;
    height: 100vh;
    background-image: url("fundo_sobre.gif");
}
h1 {
  font-family: "Trebuchet MS", sans-serif;
}
.fundo {
  width: 100%;
  height: 100vh; 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: rgba(163, 161, 161, 0.92);
  color: rgb(10, 10, 10);
  padding: 40px;
  border-radius: 16px;
  margin: 0 auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  line-height: 1.6;
  text-align: left;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #888;
    }
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.15em solid #888;
    width: 0;
    font-family: monospace;
    opacity: 0;
}

.typewriter-1 {
    animation: typing 3s steps(60, end) forwards, blink-caret .75s step-end infinite;
    animation-delay: 0s;
}

.typewriter-2 {
    animation: typing 3s steps(60, end) forwards, blink-caret .75s step-end infinite;
    animation-delay: 2s;
}

.typewriter-3 {
    animation: typing 3s steps(60, end) forwards, blink-caret .75s step-end infinite;
    animation-delay: 4s;
}

.typewriter-4 {
    animation: typing 3s steps(60, end) forwards, blink-caret .75s step-end infinite;
    animation-delay: 6s;
}

.typewriter-5 {
    animation: typing 3s steps(60, end) forwards, blink-caret .75s step-end infinite;
    animation-delay: 8s;
}

/* Exibe o li apenas durante ou após a animação */
li[class^="typewriter"] {
    animation-fill-mode: forwards;
    opacity: 1;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.neon-text {
    color: rgb(0, 68, 255);
    text-shadow:
        0 0 5px #0ff,
        0 0 10px #0ff,
        0 0 20px #0ff,
        0 0 40px #0ff;
}
